{% extends 'base.html' %}
<!DOCTYPE html>
    <head>
        <title>맛집 리뷰</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <!-- nav bar -->
        {% block content %}
        <div class="login" style="margin: 1rem 7rem;">
            
            <h1>Login</h1>
            
            <form method="POST" action="{% url 'login'%}">
                {% csrf_token %}
                Username:
                <br>
                <input name="username" type="text" value="">
                <br>
                Password:
                <br>
                <input name="password" type="password" value="">
                <br>
                <br>
                <input class="btn btn-primary" type="submit" value="Login">
            </form>
            <br>
            <a href="{% url 'signup' %}">계정이 없으신가요?</a>

        </div>

    {% endblock %}    
    </body>
</html>
